*{
    padding: 0;
    margin: 0;
    
}

.modal{
    background-color:#ffffff;
    height: 300px;
    width: 300px;
    top: 50%;
    left:50%;
    transform:translate(-50% -50%);

}

body {
    background-image: url("../assents/senai001_medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex ;
    justify-content:center;
    align-items: center;
    
}

#logo-img {
    height: 60px;
    width: 280px;
}

input{
    height: 25px;
    width: 195px;
    border-radius: 7px;
    border:none ;
    box-shadow: 3px 3px 3px #ccc;

}

#botao{
    height: 20px;
    width: 100px;
   color: blanchedalmond;
   border-radius: 7px;
border:none ;
color: #ffffff;
background-color: blue;

}

.caixa-butoes{
height: 250px; 
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
}